<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <section id="payment">
            <group id="realexpayments_applepay_apple" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="101">
                <label>Global Payments - Apple Pay</label>
                <attribute type="expanded">1</attribute>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/realexpayments_applepay/active</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/realexpayments_applepay/title</config_path>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Id</label>
                    <config_path>payment/realexpayments_applepay/apple_merchant_id</config_path>
                </field>
                <field id="merchant_pem" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Cert Path</label>
                    <config_path>payment/realexpayments_applepay/merchant_pem</config_path>
                </field>
                <field id="merchant_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Key Path</label>
                    <config_path>payment/realexpayments_applepay/merchant_key</config_path>
                </field>
                <field id="merchant_key_passphrase" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Key Passphrase</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>payment/realexpayments_applepay/merchant_key_passphrase</config_path>
                </field>
                <field id="merchant_domain" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Domain</label>
                    <config_path>payment/realexpayments_applepay/merchant_domain</config_path>
                </field>
                <field id="merchant_display_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apple Merchant Display Name</label>
                    <config_path>payment/realexpayments_applepay/merchant_display_name</config_path>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>RealexPayments\Applepay\Model\Config\Source\Environment</source_model>
                    <config_path>payment/realexpayments_applepay/environment</config_path>
                </field>
                <field id="debug_log" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable debug logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/realexpayments_applepay/debug_log</config_path>
                </field>
            </group>
    </section>
</system>
</config>
