.gpay-button {
    background-origin: content-box !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}   