<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
                <group id="realexpayments_googlepay_google" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="101">
                    <attribute type="expanded">1</attribute>
                    <label>Global Payments - Google Pay</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/realexpayments_googlepay/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/realexpayments_googlepay/title</config_path>
                    </field>
                    <field id="google_merchant_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Google Pay Merchant Name</label>
                        <config_path>payment/realexpayments_googlepay/google_merchant_name</config_path>
                    </field>
                    <field id="google_merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Google Pay Merchant Id</label>
                        <config_path>payment/realexpayments_googlepay/google_merchant_id</config_path>
                    </field>
                    <field id="google_payment_cards" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Google Payment Cards</label>
                        <source_model>RealexPayments\Googlepay\Model\Config\Source\PaymentCards</source_model>
                        <config_path>payment/realexpayments_googlepay/google_payment_cards</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>RealexPayments\Googlepay\Model\Config\Source\Environment</source_model>
                        <config_path>payment/realexpayments_googlepay/environment</config_path>
                    </field>
                    <field id="debug_log" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable debug logging</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/realexpayments_googlepay/debug_log</config_path>
                    </field>
                </group>
        </section>
    </system>
</config>
